{% extends '__base__.html' %}

{% block title %}首页{% endblock %}

{% block beforehead %}
<script type="text/javascript">
    $(function(){
        var $messagepull = $('.messagepull');
        $messagepull.click();
    });
    $(function(){
        var $topbarlistl = $('.topbarlist_fl li:first-child');
        var $topbarlistr = $('.topbarlist_fl li:last-child');
        $topbarlistl.addClass('active');
        $topbarlistr.removeClass('active');
    })
</script>
{% endblock %}

{% block content %}
    {% for blog in blogs %}
    <div class="article">
        <div class="article_name">
            <h2><a href="/blog/{{ blog.id }}">&lt;&lt; {{ blog.name }} &gt;&gt;</a></h2>
        </div>
        <div class="artcile_summry">
            <p>{{ blog.summary }}</p>
        </div>
        <div class="artcile_footer">
            <div class="time fl">发表于{{ blog.create_at|datetime }}</div>
            <div class="readbtn fr"><a href="/blog/{{ blog.id }}">阅读全文</a></div>
        </div>
    </div>
    {% endfor %}
{% endblock %}