{% extends '__base__.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block beforehead %}
<script type="text/javascript">
    var comment_url = '/api/blogs/{{ blog.id }}/comments';
    $(function(){
        $comment_btn = $('#vm button'),
        $form = $('#vm'),
        $writecomment = $('#writecomment');
        $comment_btn.click(function(event){
            stopDefault(event);
            if (! $writecomment.val().trim()) {
                return $form.showFormError("请输入内容")
            }
            $form.postJSON(comment_url,{
                content:$writecomment.val()
            },function(err,r){
                if (!err) {
                    return refresh();
                }
            });
        });
    });
    $(function(){
        var $topbarlistl = $('.topbarlist_fl li:first-child');
        var $topbarlistr = $('.topbarlist_fl li:last-child');
        $topbarlistl.removeClass('active');
        $topbarlistr.addClass('active');
    })
</script>
{% endblock %}

{% block content %}
<div class="content-container">
<div class="main_article">
    <div class="main_article_title">
        <h1>&lt;&lt; {{ blog.name }} &gt;&gt;</h1>
    </div>
    {% if __user__.admin %}
    <div id="main_article_edit">
        <a href="/manage/blogs/edit?id={{ blog.id }}" class="icon-pencil"> 重新编辑</a>
    </div>
    {% endif %}
    <div class="main_article_content">
        <p>{{ blog.html_content|safe }}</p>
    </div>
    <div class="main_article_time">
       <p>发表于{{ blog.create_at|datetime }}</p>
    </div>
</div>
<div class="main_article_comment">
    <h1>---- 评论 ----</h1>
    {% for comment in comments %}
    <div class="older_comment">
        <table>
            <tr>
                <td class="commenter"><p>{{ comment.user_name }} ：</p></td>
                <td class="comment_content"><p>{{ comment.html_content|safe }}</p></td>
            </tr>
        </table>
    </div>
    <div class="older_comment_time"><p>发表于{{ comment.create_at|datetime }}</p></div>
    {% else %}
    <div class="nobodycomment">
        <p>{ { - 暂没人评论 - } }</p>
    </div>
    {% endfor %}
    {% if __user__ %}
    <div class="write_comment">
        <form id="vm">
            <div class="Formerror"></div>
            <label for="writecomment"><h1>{ { 发表评论 } }</h1></label>
            <div class="rFormerror"></div>
            <textarea id="writecomment" rows="4"></textarea>
            <button type='submit'>提交</button>
        </form>
    </div>
    {% else %}
    <div class="write_comment">
        <a href="/signin">登录评论</a>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}