{% extends '__base__.html' %}

{% block title %}日志列表{% endblock %}

{% block beforehead %}
<script type="text/javascript">
function initVM(data) {
    var vm = new Vue({
        el: '#vm',
        data: {
            blogs: data.blogs,
            page: data.page
        },
        methods: {
            edit_blog: function (blog) {
                location.assign('/manage/blogs/edit?id=' + blog.id);
            },
            delete_blog: function (blog) {
                if (confirm('确认要删除文章《' + blog.name + '》？')) {
                    postJSON('/api/blogs/' + blog.id + '/delete', function (err, r) {
                        if (err) {
                            return alert(err.message || err.error || err);
                        }
                        refresh();
                    });
                    
                }
            },
        }
    });
}
$(function(){
    getJSON('/api/blogs',{
        page:{{ page_index }}
    },function(err,r){
        if (err) {
            var $vm = $('#vm');
            return $vm.showFormError(err);
        }
        initVM(r);
    });
});
$(function(){
    var $topbarlistl = $('.topbarlist_fl li:first-child');
    var $topbarlistr = $('.topbarlist_fl li:last-child');
    $topbarlistl.removeClass('active');
    $topbarlistr.addClass('active');
})
</script>

{% endblock %}

{% block content %}

<div class="bloglist" id="vm">
    <div class="bloglist_title">
        <h1>{ { 日志列表 } }</h1>
        <div class="Formerror"></div>
    </div>
    <div class="bloglist_table">
        <table>
            <tr>
                <th>标题</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            <tr v-for="blog in blogs">
                <td>
                    <a v-bind:href="'/blog/'+blog.id" v-text="'&lt;&lt; ' + blog.name + ' &gt;&gt;'"></a>
                </td>
                <td><span v-text="blog.create_at.toDateTime()"></span></td>
                {% if __user__.admin %}
                <td><a href="#0" v-on:click='edit_blog(blog)'><i class="icon-pencil"> </i></a>&nbsp;&nbsp;&nbsp;<a href="#0" v-on:click='delete_blog(blog)'><i class="icon-bin"></i></a></td>
                {% else %}
                <td><i class="icon-lock"> 没有权限</i></td>
                {% endif %}
            </tr>
        </table>
        <div class="page">
            <pagination v-bind:message='page'></pagination>
        </div>
    </div>
</div>

{% endblock %}