{% extends '__base__.html' %}

{% block title %}用户列表{% endblock %}

{% block beforehead %}
<script type="text/javascript">
    function initusers (data) {
        var
            users = data.users,
            $table = $('.userlist_table table'),
            i,$tr,$username,$useremail,$usertime;
        {% if __user__.admin %}
        for (i=0;i<users.length;i++) {
            $tr = $('<tr>');
            if (users[i].admin) {
                $tr.append('<td><span>'+ users[i].name +'</span>&nbsp;<span class="icon-key" style="color:#870000"></span></td>');
            } else {
                $tr.append('<td><span>'+ users[i].name +'</span></td>');
            }
            $tr.append('<td><span>' + users[i].email + '</span></td>');
            $tr.append('<td><span>' + users[i].create_at.toDateTime() + '</span></td>');
            $table.append($tr);
        }
        {% else %}
        $table.append('<tr><td colspan="3" height="80px"><i class="icon-lock"> 抱歉，你没有权限查看</i></td></tr>');
        {% endif %}
    }
    $(function(){
        getJSON('/api/users',{
            page:{{ page_index }}
        },function(err,r){
            if (err) {
                return $('#vm').showFormError;
            }
            initusers(r);
            makepage(r.page);
            $('.userlist_title a').mouseenter(function(){$(this).text('{ { 点击切换管理评论列表 } }');}).mouseleave(function(){$(this).text('{ { 用户列表 } }');})
        })
    })
</script>
{% endblock %}

{% block content %}
<div class="content-container">
<div class="userlist" id="vm">
    <div class="userlist_title">
        <h1><a href="/manage/comments">{ { 用户列表 } }</a></h1>
        <div class="Formerror"></div>
    </div>
    <div class="userlist_table">
        <table>
            <tr>
                <th>名字</th>
                <th>电子邮箱</th>
                <th>注册时间</th>
            </tr>
        </table>
        <div class="page">
        </div>
    </div>
</div>
</div>
{% endblock %}