{% extends '__base__.html' %}

{% block title %}编辑日志{% endblock %}

{% block beforehead %}
<script type="text/javascript">
        /* 用于头部导航栏样式 */
        $(function(){
        var $topbarlistl = $('.topbarlist_fl li:first-child');
        var $topbarlistr = $('.topbarlist_fl li:last-child');
        $topbarlistl.removeClass('active');
        $topbarlistr.addClass('active');
    })
        $(function(){
            /* 定义提交按钮 */
            var 
                ID = '{{ id }}',
                action = '{{ action }}',
                $btn = $('#vm button'),
                $form = $('#vm'),
                $blogname = $('#blogName'),
                $blogsummary = $('#blogSummary'),
                $blogcontent = $('#blogcontent');
            $btn.click(function(event){
                stopDefault(event);
                if (! $blogname.val().trim()) {
                    return $form.showFormError('请输入题目');
                }
                if (! $blogcontent.val().trim()) {
                    return $form.showFormError('请输入内容');
                }
                $form.postJSON(action,{
                    name:$blogname.val(),
                    summary:$blogsummary.val(),
                    content:$blogcontent.val()
                },function(err,r){
                    return location.assign('/manage/blogs');
                });
            });
            if (ID) {
                getJSON('/api/blogs/'+ID,function(err,blog){
                    if (err) {
                        return $form.showFormError(err);
                    }
                    $blogname.val(blog.name);
                    $blogsummary.val(blog.summary);
                    $blogcontent.val(blog.content);
                });
            } else {
                $blogname.val('');
                $blogsummary.val('');
                $blogcontent.val('');
            }
        });

</script>
{% endblock %}

{% block content %}

<div class="edit_blog">
    <form id="vm">
        <div class="Formerror"></div>
        <div>
            <label for="blogName"><h1>{ { 标题 } }</h1></label>
            <input type="text" name="blogName" id="blogName" placeholder="文章标题"></div>
        <div>                
            <label for="blogSummary"><h1>{ { 摘要 } }</h1></label>
            <textarea id="blogSummary" placeholder="文章摘要" rows="5"></textarea>
        </div>
        <div>                
            <label for="blogcontent"><h1>{ { 内容 } }</h1></label>
            <textarea id="blogcontent" placeholder="文章内容"  rows="20"></textarea>
        </div>
        <button type="submit">保存</button>
        <a href="#">取消</a>
    </form>
</div>

{% endblock %}