{% extends '__base__.html' %}

{% block title %}评论列表{% endblock %}

{% block beforehead %}
<script type="text/javascript">
    function initcomment (data) {
        var 
            comments = data.comments,
            $table = $('.commentlist_table table'),
            i,$tr,$commentname,$commentcontent,$commenttime;
        for (i=0;i<comments.length;i++) {
            $tr = $('<tr>');
            $tr.append('<td><span>' + comments[i].user_name + '</span></td>');
            $tr.append('<td  style="max-width:618px"><a class="commentlink" href="/blog/' + comments[i].blog_id + '">' + changetotext(comments[i].content) + '</a></td>');
            $tr.append('<td><span>' + comments[i].create_at.toDateTime() + '</span></td>');
            {% if __user__.admin %}
            $tr.append('<td><a href="#0" class="delete_comment" data-id="'+ comments[i].id +'"><i class="icon-bin"></i></a></td>');
            {% else %}
            $tr.append('<td><i class="icon-lock"> 没有权限</i></td>');
            {% endif %}
            $table.append($tr);
        }
        var 
            $delete_comment = $('.delete_comment'),
            $commentlist_title = $('.commentlist_title a');
        $delete_comment.click(function(){
            if (confirm('确定删除评论？')) {
                postJSON('/api/comments/' + $(this).data('id') + '/delete',function(err,r){
                    if (err) {
                        return alert(err.message || err.error || err);
                    }
                    refresh();
                })
            }
        });
        $commentlist_title.mouseenter(function(){$(this).text('{ { 点击切换管理用户列表 } }');}).mouseleave(function(){$(this).text('{ { 评论列表 } }');});
    }
    $(function(){
        getJSON('/api/comments',{
            page:{{ page_index }}
        },function(err,r){
            if (err) {
                return $('#vm'),showFormError(err);
            }
            initcomment(r);
            makepage(r.page);
        })
    })
</script>

{% endblock %}

{% block content %}
<div class="content-container">
<div class="commentlist" id="vm">
    <div class="commentlist_title">
        <h1><a id="iddd" href="/manage/users">{ { 评论列表 } }</a></h1>
        <div class="Formerror"></div>
    </div>
    <div class="commentlist_table">
        <table>
            <tr>
                <th>评论人</th>
                <th>内容</th>
                <th>评论时间</th>
                <th>操作</th>
            </tr>
        </table>
        <div class="page">
        </div>
    </div>
</div>
</div>
{% endblock %}