{% extends '__base__.html' %}

{% block title %}用户列表{% endblock %}

{% block beforehead %}
<script type="text/javascript">
    function initVM(data){
        var vm = new Vue({
            el:'#vm',
            data:{
                users:data.users,
                page:data.page
            },
            methods:{
                change:function(){
                    $('.userlist_title a').text('{ { 点击切换管理评论列表 } }');
                },
                repair:function(){
                    $('.userlist_title a').text('{ { 用户列表 } }');
                }
            }
        });
    }
    $(function(){
        getJSON('/api/users',{
            page:{{ page_index }}
        },function(err,r){
            if (err) {
                return $('#vm').showFormError('err'); 
            }
            initVM(r);
        })
    })
</script>
{% endblock %}

{% block content %}
<div class="userlist" id="vm">
    <div class="userlist_title">
        <h1><a href="/manage/comments" v-on:mouseenter="change" v-on:mouseleave="repair">{ { 用户列表 } }</a></h1>
        <div class="Formerror"></div>
    </div>
    <div class="userlist_table">
        <table>
            <tr>
                <th>名字</th>
                <th>电子邮箱</th>
                <th>注册时间</th>
            </tr>
            {% if __user__.admin %}
            <tr v-for="user in users">
                <td><span v-text="user.name"></span>&nbsp;<span v-if="user.admin" class="icon-key" style="color:#870000"></span></td>
                <td><span v-text="user.email"></span></td>
                <td><span v-text="user.create_at.toDateTime()"></span></td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3" height='80px'><i class="icon-lock"> 抱歉，你没有权限查看</i></td>
            </tr>
            {% endif %}
        </table>
        <div class="page">
            <pagination v-bind:message='page'></pagination>
        </div>
    </div>
</div>
{% endblock %}