{% extends '__base__.html' %}

{% block title %}评论列表{% endblock %}

{% block beforehead %}

<script type="text/javascript">
    function initVM (data) {
        var vm = new Vue({
            el:'#vm',
            data:{
                comments:data.comments,
                page:data.page
            },
            methods:{
                delete_comment:function(comment){
                    var content = comment.content.length>20 ? comment.content.substring(0,20)+'...' : comment.content;
                    if (confirm('确定删除评论“'+ content + '”?')) {
                    postJSON('/api/comments/' + comment.id + '/delete', function (err, r) {
                        if (err) {
                            return error(err);
                        }
                        refresh();
                    });
                    }
                },
                change:function(){
                    $('.commentlist_title a').text('{ { 点击切换管理用户列表 } }');
                },
                repair:function(){
                    $('.commentlist_title a').text('{ { 评论列表 } }');
                }
            }
        });
    }
    $(function(){
        getJSON('/api/comments',{
            page:{{ page_index }}
        },function(err,r){
            if (err) {
                return $('#vm').showFormError(err);
            }
            initVM(r);
        })
    })
</script>

{% endblock %}

{% block content %}

<div class="commentlist" id="vm">
    <div class="commentlist_title">
        <h1><a id="iddd" href="/manage/users"  v-on:mouseenter="change" v-on:mouseleave="repair">{ { 评论列表 } }</a></h1>
        <div class="Formerror"></div>
    </div>
    <div class="commentlist_table">
        <table>
            <tr>
                <th>评论人</th>
                <th>内容</th>
                <th>评论时间</th>
                <th>操作</th>
            </tr>
            <tr v-for="comment in comments">
                <td><span v-text="comment.user_name"></span></td>
                <td><span v-text="comment.content"></span></td>
                <td><span v-text="comment.create_at.toDateTime()"></span></td>
                {% if __user__.admin %}
                <td><a href="#0" v-on:click='delete_comment(comment)'><i class="icon-bin"></i></a></td>
                {% else %}
                <td><i class="icon-lock"> 没有权限</i></td>
                {% endif %}
            </tr>
        </table>
        <div class="page">
            <pagination v-bind:message='page'></pagination>
        </div>
    </div>
</div>

{% endblock %}