{% extends '__base__.html' %}

{% block title %}日志列表{% endblock %}

{% block beforehead %}
<script type="text/javascript">
    /* 管理博客 */
    function initblog (data) {
        var 
            blogs = data.blogs,
            $table = $('.bloglist_table table'),
            i,$tr,$blogname,$blogtime,$blognametd,$blogtimetd;
            for (i=0;i<data.blogs.length;i++) {
                $tr = $('<tr>');
                $blogname = $('<a>',{'href':'/blog/'+data.blogs[i].id}).text('<< ' + data.blogs[i].name + ' >>');
                $blogtime = $('<span>').text(data.blogs[i].create_at.toDateTime());
                $blognametd = $('<td>').append($blogname);
                $blogtimetd = $('<td>').append($blogtime);
                $tr.append($blognametd).append($blogtimetd);
                {% if __user__.admin %}
                $tr.append('<td><a href="#0" class="edit_blogs" data-id="' + blogs[i].id + '"><i class="icon-pencil"> </i></a>&nbsp;&nbsp;&nbsp;<a href="#0" class="delete_blog" data-id="' + blogs[i].id + '"><i class="icon-bin"></i></a></td>');
                {% else %}
                $tr.append('<td><i class="icon-lock"> 没有权限</i></td>');
                {% endif %}
                $table.append($tr);
            }
            var 
                $edit_blog = $('.edit_blogs'),
                $delete_blog = $('.delete_blog');
                $edit_blog.click(function(){
                    location.assign('/manage/blogs/edit?id=' + $(this).data('id'));
                });
                $delete_blog.click(function(){
                    if (confirm('确认要删除文章?'+$(this).data('id'))) {
                        postJSON('/api/blogs/' + $(this).data('id') + '/delete', function (err, r) {
                            if (err) {
                                return alert(err.message || err.error || err);
                            }
                            refresh();
                        });
                    }
                });
        }
    /* 初始化管理列表 */
    $(function(){
        getJSON('/api/blogs',{
            page:{{ page_index }}
        },function(err,r){
            if (err) {
                return $('#vm').showFormError(err);
            }
            initblog(r);
            makepage(r.page);/* 生成页码 */
        });

    })
    /* 导航栏按钮样式 */
    $(function(){
    var 
        $topbarlistl = $('.topbarlist_fl li:first-child'),
        $topbarlistr = $('.topbarlist_fl li:last-child');
    $topbarlistl.removeClass('active');
    $topbarlistr.addClass('active');
})
</script>

{% endblock %}

{% block content %}
<div class="content-container">
<div class="bloglist" id="vm">
    <div class="bloglist_title">
        <h1>{ { 日志列表 } }</h1>
        <div class="Formerror"></div>
    </div>
    <div class="bloglist_table">
        <table>
            <tr>
                <th>标题</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </table>
        <div class="page">
        </div>
    </div>
</div>
</div>
{% endblock %}