{% extends '__base__.html' %}

{% block title %}梁智承个人求职简历{% endblock %}

{% block content %}
<div class="personalmessage">
    <div class="personalmessage_title"><h1>梁智承个人求职简历</h1></div>
    <table class="basemessage">
        <caption>基础信息</caption>
        <tr>
            <th>姓名：</th>
            <td>梁智承</td>
            <th>年龄：</th>
            <td>23</td>
            <td rowspan="6" class="basemessage_image"><img src="static/img/43280.jpg"></td>
        </tr>
        <tr>
            <th>性别：</th>
            <td>男</td>
            <th>移动电话 / 微信：</th>
            <td>18689407365</td>
        </tr>
        <tr>
            <th>邮箱：</th>
            <td colspan="3" class="textcenter">786883603@qq.com</td>
        </tr>
        <tr>
            <th>学历：</th>
            <td>本科</td>
            <th>毕业院校：</th>
            <td>广东药科大学</td>
        </tr>
        <tr>
            <th>专业：</th>
            <td>化学工程与工艺</td>
            <th>毕业日期：</th>
            <td>2017.6</td>
        </tr>
        <tr>
            <th>现居住地：</th>
            <td colspan="3" class="textcenter">广东省中山市小榄镇永宁竹围竹满街8号</td colspan="3">
        </tr>
    </table>
    <table class="skill">
        <caption>求职意向与职业技能</caption>
        <tr>
            <th>求职意向</th>
            <td colspan="3" class="textcenter">前端开发</td>
        </tr>
        <tr>
            <th>地点</th>
            <td>广东省地区</td>
            <th>到岗时间</th>
            <td>一周之内</td>
        </tr>
        <tr>
            <th>期待薪资</th>
            <td colspan="3" class="textcenter">3000</td>
        </tr>
        <tr>
            <th rowspan="7">职业技能</th>
            <td colspan="3">1、可以运用HTML5，CSS3以及JavaScript编写响应式布局的网页，懂AJAX，熟悉前后端数据交互</td>
        </tr>
        <tr>
            <td colspan="3">2、熟练运用jQuery，能编写其Ajax操作函数</td>
        </tr>
        <tr>
            <td colspan="3">3、能熟练运用Vue.js，构建MVVC框架，能编写其扩展HTML元素组件</td>
        </tr>
        <tr>
            <td colspan="3">4、了解Bootstrap前端开发框架，了解程度为：可以运用其编写网页，但仍需不时查阅官方文档</td>
        </tr>
        <tr>
            <td colspan="3">5、懂Python语言，能编写简易爬虫</td>
        </tr>
        <tr>
            <td colspan="3">6、熟悉Photoshop基本操作，会切片，熟悉Sai，comicstudio等设计制图软件，会使用数位板</td>
        </tr>
        <tr>
            <td colspan="3">7、具备一定的计算机知识，能处理一般的电脑故障</td>
        </tr>
    </table>
    <table class="workexperience">
        <caption>工作经验</caption>
        <tr>
            <th>公司名称</th>
            <td>深圳市知识产权代理有限公司</td>
            <th>时间</th>
            <td>2016年9月-2017年8月</td>
        </tr>
        <tr>
            <th>行业</th>
            <td>知识产权代理</td>
            <th>部门</th>
            <td>行政</td>
        </tr>
        <tr>
            <th>工作描述</th>
            <td colspan="3">公司内网管理、知识产权缴费及文件管理、知识产权运营推广等。</td>
        </tr>
    </table>
    <table class="schoolexperience">
        <caption>在校职务/经历</caption>
        <tr>
            <th>职务</th>
            <td>校内微信平台推广员</td>
            <th>时间</th>
            <td>2013年-2016年</td>
        </tr>
        <tr>
            <th>职位描述</th>
            <td colspan="3">负责校内微信平台的信息推广与维护、以及宣传单设计</td>
        </tr>
        <tr>
            <th>职务</th>
            <td>学生会艺术团戏剧队队员</td>
            <th>时间</th>
            <td>2013年-2014年</td>
        </tr>
        <tr>
            <th>职位描述</th>
            <td colspan="3">参加校内各种演出舞台晚会、微电影以及校外商演</td>
        </tr>
    </table>
    <table class="evaluation">
        <caption>自我评价</caption>
        <tr>
            <td>
                <ul>
                    <li>我对自己目前的定位是，在前端工作的同时要储备更多关于后端的知识，毕竟全栈才能最高效地解决问题</li>
                    <li>我对工作的态度：力求高效地完成本职工作，并在此基础上做到尽善尽美</li>
                    <li>我的优势：自学能力强，有良好的自知能力，良好的心态、情商以及沟通能力</li>
                    <li>我的劣势：非科班出身，所以我决定死磕技术，弥补不足</li>
                </ul>
            </td>
        </tr>
    </table>
    <div class="personalmessage_footer"><a href="/">返回首页</a></div>
</div>
{% endblock %}