body{
    background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1502785013&di=308b4eabe00915ff64cbc717cdf503e4&src=http%3A%2F%2Fwww.cdsns.com%2Fuploads%2Fimg%2F201603%2F04%2Fac091d0bf64376fed43dd26919289cfe_l.jpg');
}
/*---- 顶上固定菜单栏 ----*/
.topbar {
    height:50px;
    line-height: 50px;
    border-top:#ff7e00 2px solid;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: #444;
    color:#fff;
    min-width:388px;
    position: fixed;
    top:0px;
    left: 0px;
    right: 0px;
}
/* 主题 */
.topbartitle {
    width:240px;
    text-align: center;
    letter-spacing: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: auto;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;

}
.topbartitle:hover {
    color:#ff7e00;
    cursor:none;
}
/*---- 右侧菜单栏 ----*/
.topbarlist{
    position:absolute;
    top:0px;
    right:10px;
}
.topbarlist li{
    display: inline-block;
    font-size: 16px;
    font-weight:bold;
    vertical-align: middle;
    line-height: 30px;
    width:100px;
    text-align: center;
}
.active {
    background-color: #333;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.active a{
    color: #ff7e00;
}
.topbarlist_fl li:last-child{
    border-right:2px solid #444;
    margin-right:5px; 
}
#lock{
    color: #aaa;
    font-size: 13px;
}
/* 未登陆 */
.topbarlist_sign li{
    width: 50px;
}
/*---- 登录后的下拉菜单 ----*/
.topbarlist_signed{
    position: relative;
    
}
.username{
    font-size: 17px;
    letter-spacing: 2px;
}
#userdropdownbar {
    display: none;
    position: absolute;
    top:51px;
    left: -20px;
    background-color: #444;
    border: 2px solid rgba(0,0,0,0.03);
    border-top:#ff7e00 2px solid;
    border-radius:3px;
    width: 125px;
    text-align: center;
    
}
/* 下拉菜单的小三角形 */
.triangle {
    position: absolute;
    top:-18px;
    left:60px;
    width: 0px;
    height: 0px;
    border-top:10px solid transparent;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:6px solid #ff7e00;
}
#userdropdownbar li{
    margin: 5px auto;
    line-height: 30px;
}
#userdropdownbar .line {
    display: block;
    margin:auto;
    line-height: 1px;
}
#userdropdownbar .line hr{
    border:none;
    border-top:1px dotted #333;
}
#userdropdownbar li:last-child{
    border:none;
    margin-top:5px;
    margin-bottom: 5px; 
}
#userdropdownbar a{
    font-size: 12px;
}


/*---- 缩小浏览器后Topbar左侧列表缩小之后的样式 ----*/
.topbarlist_label {
    margin-right: 10%;
}
/* 缩小的按钮 */
.topbarlist_label a{
    padding: 8px 15px;
    border-radius: 4px;
    background-color: #333;
}
.topbarlist_small {
    margin-top:51px;
    border-top: 2px #ff7e00 solid;
    width:129px;
    background-color: #444;
}
.topbarlist_small .topbarlist_fl,.topbarlist_small .topbarlist_sign,.topbarlist_small .topbarlist_signed{
    float: none;
    background-color: #444;
}
/* 用于缩小后 */
.topbarlist_small li{
    margin:auto;
    display: block;
    border:none;
}
.topbarlist_small .topbarlist_fl li{
    margin:5px auto;
    display: block;
    border:none;
}
.topbarlist_small #userdropdownbar {
    top:35px;
    left: 0px;
}
.topbarlist_small .triangle{
    display: none;
}
.topbarlist_small #userdropdownbar li{
    margin: 2px auto;
    width: 120px;
    line-height: 30px;
}
.topbarlist_small .topbarlist_sign,.topbarlist_small .topbarlist_signed{
    padding-bottom: 5px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.icon-cancel-circle {
    color:#e01d1d;
}
.icon-cancel-circle:hover{
    color:#fff;
}
/*---- 左侧博客用户信息栏 ----*/
.blogmessages {
    position: fixed;
    top:53px;
    top:52px\9;
    bottom: 0px;
    left: -295px;
    width: 295px;
    min-height: 477px;
    border-right: #333 5px solid;
    background-color: rgba(0,0,0,0.5);
    background-color: #555\9;
    text-align: center;
}
.userimage img{
    width: 160px;
    height: 160px;
    border-radius: 90px;
    border:#ff7e00 5px solid;
    padding: 3px;
    margin:40px 0 20px; 
}
.welcome p{
    color: #ff7e00;
    font: 20px/30px bold;
    background-color:rgba(0,0,0,0.6);
    width: 260px;
    margin:auto;
    border-radius: 50px;
}
.messageslist {
    width: 260px;
    margin: auto; 
    margin-top:20px; 
}
.messageslist li{
    line-height: 40px;
}
.messageslist_active {
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
}
.messageclose{
    position: absolute;
    top:0px;
    right: 0px;
    width: 0px;
    height: 0px;
    border-right: 15px solid #ff7e00;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-top:15px solid #ff7e00;
}
.messageclose i{
    font-size: 12px;
    position: absolute;
    top:-11px;
    left: 0px;
    color:#444;
}
.messageclose i:hover,.messagepull i:hover{
    color:#fff;
}
.messageclose:hover,.messagepush:hover{
    cursor:pointer;
}
/* 拉伸小按钮 */
.messagepull {
    font:12px;
    position: absolute;
    top:0px;
    left:300px;
    background-color: #ff7e00;
    border:1px #444 solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius:3px;
    width: 30px; 
}
.messagepull i{
    color:#444;
}

/*---- blogs.html页面 ----*/
.container {
    margin-top: 80px;
}
.article{
    margin:20px 60px 20px 80px;
    min-width:280px; 
    border-radius: 4px;
    box-shadow: 15px 5px 30px 1px rgba(0,0,0,0.4);
}
/* 文章名 */
.article_name{
    background-color:#444;
    height: 40px;
    line-height: 40px;
    text-indent: 15px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.article_name a{
    color: #ff7e00;
    letter-spacing: 2px;
    font-weight: bold;
}
.article_name a:hover{
    color: #fff;
}
/* 文章内容 */
.artcile_summry {
    background-color:#aaa;
    padding:15px;
    line-height: 30px;
}
.artcile_summry p{
    color: #333;
}
/* 文章底部 */
.artcile_footer {
    overflow: hidden;
    background-color:#444;
    height: 30px;
    line-height: 30px;
    padding:0 10px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
}
.time {
    font-size: 12px;
    color: #ddd;
}
.readbtn a{
    display: block;
    color: #fff;
    margin-top:3px; 
    height:24px;
    line-height: 24px;
    background-color:#ff7e00;
    padding:0 10px;
    border-radius: 4px;
}
.readbtn a:hover{
    box-shadow:  0px 0px 5px 1px rgba(0,0,0,0.2);
}

/*---- register.html 注册页面 ----*/
.content-container{
    padding: 0px 10px;
}
.rosForm{
    max-width: 600px;
    min-width: 380px;
    margin:100px auto;
    border-radius: 4px;
    box-shadow: 15px 5px 30px 1px rgba(0,0,0,0.4); 
}
.rosFormtitle {
    background-color: #444;
    line-height: 60px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;
}
.rosFormtitle h1{
    color:#ff7e00;
    letter-spacing: 5px;
}
#vm .Formerror {
    height: auto;
    color: #ff7e00;
    font-weight: bold;
    text-align: center;
}
.rosForm form {
    padding:15px 15px 0px 15px;
    background-color: #ddd;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
}
.rosForm form div{
    max-width:500px;
    margin: auto;
    height: 50px;
    line-height: 50px;

}
.rosForm form div label{
    font-size: 20px;
    color: #555;
    font-weight: bold;
}
.rosForm form div input{
    float:right;
    margin-top: 10px;
    width: 60%;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    text-indent: 10px;
}
.rosForm form div input:focus{
    height: 28px;
    line-height: 28px;
    border:1px solid #ff7e00;
}
.rosForm form .rosFormbottom{
    height: auto;
    max-width: 600px;
    margin: 0px;
    text-align: center;
}
.rosForm form .rosFormbottom button{
    border-radius:4px;
    margin: 20px 0px;
    width:300px;
    line-height: 40px;
    font-size: 20px;
    background-color: #ff7e00;
    color: #fff;
    letter-spacing: 10px;
}
.rosForm form .rosFormbottom button:hover{
    box-shadow:  0px 0px 5px 1px rgba(0,0,0,0.4);
}

/*---- manage_blogs_edit ----*/
.edit_blog {
    max-width: 900px;
    margin: 80px auto;
    background-color: #444;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    box-shadow: 15px 5px 30px 1px rgba(0,0,0,0.4);
}
.edit_blog div{
    padding: 5px;
    background-color: #ff9e3f;
    margin-top: 15px;
    border-radius: 4px;
}
.edit_blog h1{
    font-size: 22px;
    color: #444;
}
.edit_blog input,.edit_blog textarea{
    font-size: 20px;
    color:#444;
    margin: 5px;
    margin-top: 10px;
    background-color: #ddd;
    width: 95%;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    text-align: center;
}
.edit_blog textarea{
    padding: 5px;
    height: auto;
    line-height: 25px;
    text-align: left;
    font-size: 16px;
    resize: none;
}
.edit_blog input:focus,.edit_blog textarea:focus{
    outline:1px solid #fff;
}
.edit_blog button{
    padding: 5px;
    background-color: #ff9e3f;
    margin: 10px 10px 0px 0px;
    border-radius: 4px;
    width: 50px;
    color: #fff;
}
.edit_blog button:hover{
    box-shadow:  0px 0px 5px 1px rgba(255,255,255,0.4);
}
.edit_blog .Formerror{
    background:none;
    padding:0px;
    margin: 0px;
}

/*---- blog.html ----*/
.main_article,.main_article_comment {
    max-width: 1000px;
    margin:100px auto;
    margin-bottom: 0px;
    border-radius: 4px;
    box-shadow:  15px 5px 30px 1px rgba(0,0,0,0.4);
}
.main_article .main_article_title{
    text-align: center;
    background-color: #444;
    min-height: 70px;
    line-height: 70px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.main_article .main_article_title h1{
    color: #ff7e00;
    word-spacing: 15px;
    letter-spacing: 5px;
}
#main_article_edit{
    padding-right:15px; 
    text-align: right;
    background-color:#ff9e3f;
    height: 25px;
    line-height: 25px;
}
#main_article_edit a:hover{
    color:#333;
}
.main_article .main_article_content{
    background-color: #ddd;
    padding:40px 20px 200px 20px;
}
.main_article .main_article_content h1,.main_article .main_article_content h2,.main_article .main_article_content h3,.main_article .main_article_content h4{
    color:#333;
}
.main_article .main_article_content a{
    color:#ff7e00;
}
.main_article .main_article_content a:hover{
    color:#fff;
}
.main_article p{
    color:#444;
    letter-spacing: 2px;
}
.main_article .main_article_time{
    font-size: 12px;
    padding:10px;
    text-align: right;
    background-color:  #ddd;
    border-top:1px dotted #aaa;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.main_article_comment{
    max-width:980px;
    margin-top:50px;
    margin-bottom: 50px;
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}
.main_article_comment  h1{
    color: #ff9e3f;
    letter-spacing: 5px;
}
.main_article_comment p{
    color: #444;
}
.main_article_comment .older_comment,.nobodycomment{
    margin: 10px;
    background-color:#aaa;
    border-radius: 4px;
    overflow: hidden;
    padding: 10px;
}
.older_comment td{
    vertical-align: middle;
}
.older_comment tr{
    margin-bottom: 10px;
    overflow: auto;
}
.older_comment .commenter{
    float:left;
    line-height: 25px;
    margin:5px;
}
.older_comment .commenter p{
    color:#222;
    font-weight: bold;
}
.older_comment .commenter p:hover{
    color: #fff;
}
.older_comment .comment_content{
    float: left;
    text-align: left;
    background-color: #ddd;
    border-radius: 4px;
    padding: 5px;
}
.older_comment_time{
    margin-top: -8px;
    margin-right: 15px;
    text-align: right;
    font-size: 12px;
    color: #444;
}
.write_comment h1{
    color:#444;
    font-size: 25px;
}
.write_comment form{
    padding: 5px;
    margin:10px;
    background-color: #aaa;
    border-radius: 4px;
}
.write_comment form textarea{
    width: 96%;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
    height: auto;
    line-height: 25px;
    font-size: 16px;
    color:#444;
    resize: none;
}
.write_comment button{
    display: block;
    width: 96%;
    margin: 10px auto;
    background-color: #ff9e3f;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    letter-spacing: 5px;
}
.write_comment button:hover{
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}

/*---- manage_blogs.html ----*/
.bloglist,.userlist,.commentlist{
    max-width: 1000px;
    margin:100px auto;
    margin-bottom: 0px;
    border-radius: 4px;
    box-shadow:  15px 5px 30px 1px rgba(0,0,0,0.4);
}
.bloglist_title,.userlist_title,.commentlist_title{
    text-align: center;
    background-color: #444;
    min-height: 70px;
    line-height: 70px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.bloglist_title h1,.userlist_title h1,.commentlist_title h1{
    color: #ff7e00;
    word-spacing: 15px;
    letter-spacing: 5px;
}
.bloglist_title h1:hover,.userlist_title h1:hover,.commentlist_title h1:hover{
    color:#fff;
}
.bloglist_table,.userlist_table,.commentlist_table{
    padding-bottom: 5px;
    text-align: center;
    background-color: #ddd;
}
.bloglist_table table,.userlist_table table,.commentlist_table table{
    width: 100%;
    border-bottom: dotted 2px #aaa;
    padding-bottom: 10px;
}
.bloglist_table tr,.userlist_table tr,.commentlist_table tr{
    color:#444;
    height: 30px;
    line-height: 30px;
}
.bloglist_table tr:nth-child(2n+1),.userlist_table tr:nth-child(2n+1),.commentlist_table tr:nth-child(2n+1){
    background-color: #ccc;
}
.bloglist_table tr:nth-child(n+2):hover,.userlist_table tr:nth-child(n+2):hover,.commentlist_table tr:nth-child(n+2):hover{
    background-color:#ff9e3f;
}
.bloglist_table th,,.userlist_table th,.commentlist_table th{
    color:#333;
}
.bloglist_table a,.userlist_table a,.commentlist_table a{
    color:#444;
}
.bloglist_table a:hover,.userlist_table a:hover,.commentlist_table a:hover{
    color:#fff;
}
.page{
    margin: 10px 0px;
}
.page li{
    display: inline-block;
    background-color:#ccc;
    border-radius: 4px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin:0px 2px;
}
.page .noactive i:hover,.page .activepage span:hover{
    cursor:default;
}
.page .noactive i{
    color: #666;
}
.page .activepage{
    background-color: #ff9e3f;
}
.page .activepage span{
    color: #fff;
}
.page li:not(.activepage):not(.noactive):hover {
    background-color:  #ff9e3f;
}